<div class="landingmenu2 row navbar navbar-default 
navbar-fixed-top">
<p class="col-md-3 menulogo2">
<!-- <img src="https://png.icons8.com/color/1600/video-camera" class="imgsmall" alt=""> -->
<a href="#/dash" class="colwhite2">
TELEUNIDOS
</a></p>
<div class="col-md-7">

</div>
</div>



<div class="col-md-2 sidebar">
<ul class="nav">
<br>
<li>
<a href="#/dash" class="colll">
<span class="glyphicon glyphicon-dashboard   text-info">
</span> Dashboard</a>
</li>
<li><a class="colll" href="#/broadcast" ><span class="glyphicon glyphicon-bullhorn text-danger"></span> Transmitir en vivo </a>
</li>
<li>
<a class="colll" href="#/copyright">
<span 
class="glyphicon glyphicon-film text-success"></span> Copyright control</a>
</li>
<li>
<a class="colll" href="#/misprogramas"><span class="glyphicon glyphicon-picture text-primary"></span> Mis Videos</a>
</li>
<li><a class="colll" href="#/views/{{theview}}">
<span class="glyphicon glyphicon-signal text-warning">
</span> Mis Datos</a>
<ul class="nav nav-second-level">
<li><a class="colll" href="#/views/{{theview}}">Minutos Vistos</a>
</li>
<li><a class="colll" href="#/devices/{{theview}}">Dispositivos</a>
</li>
<li><a class="colll" href="#/plays/{{theview}}">Reproducciones</a>
</li>
<li><a class="colll" href="#/viewstotal">Consumo total
</a></li>
<li><a class="colll" href="#/users">Usuarios</a>
</li>
</ul>
<li><a class="colll" href="#/profile"><span class="glyphicon  glyphicon-envelope text-info"></span> Mi cuenta</a>
<ul class="nav nav-second-level">
<li><a class="colll" href="#/profile"> Perfil</a>
</li>
<li><a class="colll" href="#/pagos"> Pagos </a>
</li>
</ul>
</li>
</ul>
</div>






<div class="col-md-offset-1 col-md-11 main">

<br>
<h2 class="text-center mainText">Pasos para transmitir en vivo</h2>

<hr>

<div class="col-md-10 col-md-offset-1">
<p class="text-center">
Para transmitir en Teleunidos sigue los siguientes pasos y ten tu tarjeta de video lista con tu señal de TV
</p><br><br>
<h4 class="text-center">1 

Descarga Flash Media Live Encoder <img src="https://secure-dcdn.cdn.nimg.jp/comch/community-icon/128x128/co342294.jpg?1366125690" width="3%" alt=""> (programa gratis) 
<br>
<a href="http://www.onyxservers.com/fmle/AdobeFMLE3.2.1_r.dmg">
<img src="https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?201803200632" alt="" width="5%">	
</a>
&nbsp &nbsp 
<a href="http://www.onyxservers.com/fmle/flashmedialiveencoder_3.2_wwe_signed.msi">
<img src="https://fthmb.tqn.com/2b106B1Pq89Jkkw6ajA1E6Wd0Xg=/768x0/filters:no_upscale()/WindowsLogo2002-2012-574db87f3df78ccee12bd4e7.png" alt="" width="5%">
</a>
</h4>
<hr>

<br>
<h4 class="text-center">2   Descarga el perfil de configuracion para tu canal 
<br>
<a target="_blank" 
href="test234.xml">
<img src="https://image.freepik.com/free-vector/camera-logo-design_1465-19.jpg" alt="" width="17%">
</a>
</h4>
<hr>

<br>
<h4 class="text-center">3   Abre Flash Media, ve a Open Profile y seleccione el archivo que descargaste en el paso anterior
<br>
<img src="http://www.onyxservers.com/guides/images/open_profile.jpg" alt="" 
width="30%">
</h4>
<hr>

<br>
<h4 class="text-center">4 
Asegurate de tener seleccionado tu señal de TV en Video y Audio Device
<br>
<img src="http://www.onyxservers.com/guides/images/select_video_audio.jpg" alt="" 
width="60%">
</h4>
<hr>

<br>
<h4 class="text-center">5 
Click en el boton Start para comenzar la transmicion en vivo e ingresa tu usuario y contraseña
<br>
<img src="images/boton.png" alt="" 
width="30%">&nbsp &nbsp 
<img src="images/boton2.png" alt="" 
width="23%">
<br><br>
Usuario: 352774 <br>
Password: 832098
</h4>

<hr>
<h4 class="text-center">6
<a  href="http://stormy-escarpment-10471.herokuapp.com/#/test" target="_blank">
Cuando ya estes transmitiendo en vivo puedes probar tu señal en este enlace
</a>
<br><br><br>
</h4>

</div>

</div>
