
<div class="col-md-2 sidebar">
  <ul class="nav">
<br>
    <li><a href="#/dash" class="colll"><span class="glyphicon glyphicon-dashboard   text-info"></span> Dashboard</a></li>
    <li><a class="colll" href="#/broadcast"><span class="glyphicon glyphicon-bullhorn text-danger"></span> Transmitir en vivo </a></li>
    <li><a class="colll" href="#/misprogramas"><span class="glyphicon glyphicon-picture text-primary"></span> Mis Videos</a></li>
    <li><a class="colll" href="">
    <span class="glyphicon glyphicon-signal text-success"></span> Mis Datos</a>
      <ul class="nav nav-second-level">
        <li><a class="colll" href="#/views/{{theview}}">Minutos Vistos</a></li>
        <li><a class="colll" href="#/plays/{{theview}}">Reproducciones</a></li>
        <li><a class="colll" href="#/devices/{{theview}}">Dispositivos</a></li>
        <li><a class="colll" href="#/viewstotal">Consumo total</a></li>
        <li><a class="colll" href="#/users">Usuarios</a></li>
      </ul>
    <li><a class="colll" href=""><span class="glyphicon  glyphicon-envelope text-warning"></span> Mi cuenta</a>
      <ul class="nav nav-second-level">
        <li><a class="colll" href="#/profile"> Perfil</a></li>
        <li><a class="colll" href="partials/login.html"> Pagos </a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="col-md-offset-2 col-md-10 main">

    <div class="center-form panel ">

      <div class="panel-body">

    <div class="col-md-4 ta">  


  <h3 class="text-center"> Usuarios: {{toview}}</h3>
  <h4 class="text-center"> 15-29 años: {{edad1}}</h4>
  <h4 class="text-center"> 30-50 años: {{edad2}}</h4>
  <h4 class="text-center"> 50-70 años: {{edad3}}</h4>
  <h4 class="text-center"> 70-90 años: {{edad4}}</h4>


    </div>





  <div class="col-md-offset-1 col-md-5">  

  <h4 class="text-center mov"> EDADES</h4>
    <svg width="960" height="400" class="push"></svg>

  </div>



</div>
</div>
</div>
