<div class="landingmenu2 row navbar navbar-default 
navbar-fixed-top">
<p class="col-md-3 menulogo2">
<!-- <img src="https://png.icons8.com/color/1600/video-camera" class="imgsmall" alt=""> -->
<a href="#/dash" class="colwhite2">
TELEUNIDOS
</a></p>
<div class="col-md-7">

</div>
</div>


<div class="col-md-2 sidebar">
<ul class="nav">
<br>
<li>
<a href="#/dash" class="colll">
<span class="glyphicon glyphicon-dashboard   text-info">
</span> Dashboard</a>
</li>
<li><a class="colll" href="#/broadcast" target="_blank"><span class="glyphicon glyphicon-bullhorn text-danger"></span> Transmitir en vivo </a>
</li>
<li>
<a class="colll" href="#/copyright">
<span 
class="glyphicon glyphicon-film text-success"></span> Copyright control</a>
</li>
<li>
<a class="colll" href="#/misprogramas"><span class="glyphicon glyphicon-picture text-primary"></span> Mis Videos</a>
</li>
<li><a class="colll" href="#/views/{{theview}}">
<span class="glyphicon glyphicon-signal text-warning">
</span> Mis Datos</a>
<ul class="nav nav-second-level">
<li><a class="colll" href="#/views/{{theview}}">Minutos Vistos</a>
</li>
<li><a class="colll" href="#/devices/{{theview}}">Dispositivos</a>
</li>
<li><a class="colll" href="#/plays/{{theview}}">Reproducciones</a>
</li>
<li><a class="colll" href="#/viewstotal">Consumo total
</a></li>
<li><a class="colll" href="#/users">Usuarios</a>
</li>
</ul>
<li><a class="colll" href="#/profile"><span class="glyphicon  glyphicon-envelope text-info"></span> Mi cuenta</a>
<ul class="nav nav-second-level">
<li><a class="colll" href="#/profile"> Perfil</a>
</li>
<li><a class="colll" href="#/pagos"> Pagos </a>
</li>
</ul>
</li>
</ul>
</div>


<div class="col-md-offset-4 col-md-8 main">
		<div id="flashContent">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="940" height="880" id="H264Encoder_COMPLETED" align="middle">
				<param name="movie" value="H264Encoder_COMPLETED.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#ffffff" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="H264Encoder_COMPLETED.swf" width="940" height="880">
					<param name="movie" value="H264Encoder_COMPLETED.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Obtener Adobe Flash Player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		</div>
</div>
