
<div class="landingmenu row">
<p class="col-md-3 menulogo">
 <img src="https://png.icons8.com/color/1600/video-camera" class="imgsmall" alt=""> 
    &nbsp TELEUNIDOS
 </p>
<div class="col-md-7">
<p class="ingresarmenu">
<a href="/#/login" class="colwhite">
CREAR CANAL
</a>
</p>
<p class="crearmenu">
<a href="/#/login" class="colwhite">
INGRESAR
</a>
</p>
</div>
</div>


<div class="row landingbanner">

<div class="col-md-5 action">




<p class="landingmessage">
CONVIERTE  <br> <span class="getback2">TU SEÑAL</span> <br> A UN CANAL 
 <br> <span class="getback3">DE TV</span>

 <br> <span class="getback">INTERNACIONAL</span>
</p>
  


<div>
<a href="/#/login" class="butonaction colwhite">CREAR CANAL
<img 
src="https://png.icons8.com/office/40/000000/camcorder-pro.png" class="imgsmall2" alt="">
</a>
</div>
<div>
<p class="ingresaqui">
</p>
</div>
<div id="foo"></div><br>
<a ng-click="scrollTo('foo')" class="quees" >
¿COMO FUNCIONA?
</a>


</div>




 
<div class="landingimage col-md-7 ">
<!-- 
<video  loop class="landimg" autoplay>
  <source src="images/tele1.mp4" type="video/mp4">
</video> -->
<br><br><br>
 <div id="myElement6" class="landimg"></div>



 </div> 

</div>


<div class="pantallas row">

<a name="chapter4"></a> 

<div class=" col-md-5">


<!-- <img src="images/teleu.png"  class="comoencasa">
 -->  
<div class="quees2" >

<p class="queesTitle">
¿COMO FUNCIONA	 <span class="queesTitle2">TELEUNIDOS?</span>
</p>  

<p class="estoes2">
<!-- Teleunidos es una plataforma multimedia que ofrece  paquetes de canales centroamericanos y
ayuda a  monetizar de una nueva  forma el  contenido en el mercado latino en Estados Unidos 
<spam class="colamar">totalmente gratis</spam> -->
Teleunidos es una plataforma multimedia 
<spam class="colamar">totalmente gratis</spam> para  canales  de television 

que utiliza las ultimas tecnologias de video streaming para crear tu canal internacional y 
<spam class="colamar"> monetizar </spam> 
el mercado Latino en Estados unidos ofreciendo paquetes de canales y una nueva experiencia de Television por internet
</p>

<a ng-click="scrollTo('faa')" class="quees colwhite">
MIRA LOS BENEFICIOS
</a>



</div>


</div>






<div class="pantallasimg col-md-7">

<img 
src="images/pantallas2.png"  
class="multipantallas">
  
</div>

</div>





<div class="pantallas2 row">
<div id="faa"></div>


<div class=" col-xs-4">
<div class="quees2" id="foo">

<p class="queesTitle7">
CREA TU CANAL INTERNACIONAL
</p>  

<img 
src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Camera-Next-icon.png"  
class="multipantallas4">

<p class="estoes3">
Nuestro administrador de horarios  te permitira crear tu canal internacional con tu contenido y cumplir con leyes de copyright

</p>



</div>
</div>

<div class=" col-xs-4">
<div class="quees2" id="foo">

<p class="queesTitle5">
VIDEO CMS
</p>  

<img 
src="https://lh3.googleusercontent.com/EnHdSclYlSwU_AxkvwFFDWx9jwMJSxhvgwa2Zw_1mZ8Jbk9yLnbVpVNv9ScJPVapr5c=w300"  
class="multipantallas6">

<p class="estoes4">
Herramienta para subir videos y crear tus programas de Television  
</p>



</div>
</div>


<div class=" col-xs-4">
<div class="quees2" id="foo">

<p class="queesTitle6">
MONETIZACION DE CONTENIDO
</p>  

<img 
src="images/money.png" 
class="multipantallas5">

<p class="estoes77">
Genera nuevos ingresos basado en los minutos vistos de tu canal 
</p>



</div>
</div>

</div>










<div class="pantallas3 row">


<div class=" col-xs-4">
<div class="quees2" id="foo">

<p class="queesTitle4">
VIDEO ANALYTICS
</p>  

<img 
src="https://cdn2.iconfinder.com/data/icons/file-and-document-42/64/analytics-monitor-stats-graphic-512.png"  
class="multipantallas7">

<p class="estoes6">
Conoce a detalle los habitos de consumo de tu canal
cuantos minutos son vistos en total por <br> mes y en que dispositivos
</p>



</div>
</div>

<div class=" col-xs-4">
<div class="quees2" id="foo">

<p class="queesTitle66">
CONECTA TUS REDES SOCIALES 
</p>  

<img 
src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Network_connection_vector.png"  
class="multipantallas7">

<p class="estoes6">
Conecta tus canales existentes de Youtube, facebook o Streaming a nuestro CMS y nosotros ingestamos el contenido automaticamente
</p>



</div>
</div>

<div class="col-xs-4">
<div class="quees2" id="foo">

<p class="queesTitle666 ">
SERVIDOR DE ANUNCIOS
</p>  

<img 
src="https://www.layerswp.com/wp-content/uploads/2016/04/icon-content-widget.png"  
class="multipantallas7">

<p class="estoes7">
Genera ingresos extra con tu canal sustituyendo los anuncios locales por internacionales y cumplir con leyes de copyright



</div>
</div>

<!-- <div class="col-md-12 pushhh">


<a href="/#/login" class="butonaction3">GO LIVE
<img 
src="https://png.icons8.com/color/50/000000/google-earth.png" class="imgsmall3" alt="">
</a>


</div> -->
</div>

<!-- 
<div class="row pantallas4">
<div class="col-md-12 pushing"> -->

<!-- </div>
</div> -->



<div class="footer row">
<div class="col-xs-3">
<img src="images/teleu.png"  class="comoencasa2">
</div>


<div class="col-xs-3">
<p class="miratv">  
Mira toda la Television te tu pais en USA 
</p>
<div class="banderas2">
  <img src="images/guateflag.png" class="landingflag">
  <img src="images/sivarflag.png" class="landingflag">
  <img src="images/hondu.png" class="landingflag">
  <img src="images/nicaflag.png" class="landingflag">
  <img src="images/costaflag.png" class="landingflag">

</div>

</div>



<div class="col-xs-5 footfaq">
  <p class="footertext">Terminos de uso  </p>
  <p class="footertext">Politica de privacidad  </p>
  <p class="footertext">FAQ  </p>

</div>


</div><!--footer-->




