<div class="landingmenu2 row navbar navbar-default navbar-fixed-top">
    <p class="col-md-3 menulogo2">
    <img src="https://png.icons8.com/color/1600/video-camera" class="imgsmall" alt="">
    <a href="#/dash" class="colwhite2">
        &nbsp {{nombre}} 
    </a>
    </p>
</div>

<div class="col-md-2 sidebar">
    <ul class="nav">
        <li>
        <a href="#/dash" class="collll">
        <span class="glyphicon glyphicon-dashboard   text-info">
        </span> Dashboard</a>
        </li>
        <li>
        <a class="colll" href="#/misprogramas/{{thecanal}}">
        <span class="glyphicon glyphicon-picture text-warning"></span> TV Shows</a>
        </li>
        <li ng-show="!productor" >
        <a class="colll" href="#/elprograma4">
        <span class="glyphicon glyphicon-play-circle text-danger"></span> Upload link</a>
        </li>
        <li><a class="colll" href="#/miscampanas/{{thecanal}}">
        <span class="glyphicon  glyphicon-record text-info"></span> Advertisement </a>
        </li>
        <li><a class="colll" href="#/minutos/{{thecanal}}">
        <span class="glyphicon glyphicon-signal text-success">
        </span> Analytics </a>
            <ul class="nav nav-second-level">
            <li><a class="colll" href="#/minutos/{{thecanal}}">Time Watch</a>
            </li>
            <li><a class="colll" href="#/viewstotal/{{thecanal}}">Total Watch</a>
            </li>
            <li><a class="colll" href="#/users">Users</a>
            </li>
            </ul>
        <li><a class="colll" href="#/profile">
        <span class="glyphicon  glyphicon-envelope text-info"></span> Account</a>
            <ul class="nav nav-second-level">
            <li><a class="colll" href="#/profile"> Profile</a>
            </li>
            </ul>
        </li>
    </ul>
</div>

<div class="col-sm-offset-2 col-sm-10">
    <br><br>
    <h4 class="floting text-center"> 
    Time watch for each TV Show
    </h4>
    <br>
    <ul class="movite">
        <li class="col-sm-4  newlines" ng-repeat="programa in programas">
            <a href="#/views/{{programa.playlist}}">
            <img class="newimg" ng-src="images/{{programa.playlist}}.jpg">
            <p class="moving"> 
                {{ programa.name }}
            <p>
            </a>
        </li>
    </ul>
</div>

