<div class="landingmenu2 row navbar navbar-default 
navbar-fixed-top">
<p class="col-md-3 menulogo2">
<img src="https://png.icons8.com/color/1600/video-camera" class="imgsmall" alt="">
<a href="#/dash" class="colwhite2">
    &nbsp TELEUNIDOS
</a></p>
<div class="col-md-7">

</div>
</div>




<div class="col-md-2 sidebar">
<ul class="nav">
<li>
<a href="#/dash" class="collll">
<span class="glyphicon glyphicon-dashboard   text-info">
</span> Dashboard</a>
</li>
<!-- <li>
<a class="colll" href="#/copyright">
<span 
class="glyphicon glyphicon-play-circle text-warning"></span> Control de Copyrigth</a>
</li> -->
<li>
<a class="colll" href="#/misprogramas/{{thecanal}}"><span class="glyphicon glyphicon-picture
 text-warning"></span> Mis Programas</a>
</li>
<li ng-show="!productor">
<a class="colll" href="#/schedules/{{thecanal}}">
<span 
class="glyphicon glyphicon-list-alt text-primary"></span> Horarios</a>
</li>
<li ng-show="!productor">
<a class="colll" href="#/{{thecanal}}"><span class="glyphicon glyphicon-play-circle text-danger"></span> Transmision</a>
</li>
<li><a class="colll" href="#/miscampanas/{{thecanal}}"><span class="glyphicon  glyphicon-record text-info"></span> Publicidad</a></li>

<li><a class="colll" href="#/minutos/{{thecanal}}">
<span class="glyphicon glyphicon-signal text-success">
</span> Mis Datos</a>
<ul class="nav nav-second-level">
<li><a class="colll" href="#/minutos/{{thecanal}}">Minutos Vistos</a>
</li>
<!-- <li><a class="colll" href="#/devices/{{theview}}">Dispositivos</a>
</li>
<li><a class="colll" href="#/plays/{{theview}}">Reproducciones</a>
</li> -->
<li><a class="colll" href="#/viewstotal/{{thecanal}}">Consumo total
</a></li>
<li><a class="colll" href="#/users">Usuarios</a>
</li>
</ul>
<li><a class="colll" href="#/profile"><span class="glyphicon  glyphicon-envelope text-info"></span> Mi cuenta</a>
<ul class="nav nav-second-level">
<li><a class="colll" href="#/profile"> Perfil</a>
</li>
<li><a class="colll" ng-show="youtuber" ng-show="terminos"  href="#/acuerdo"> Convenio</a></li>
<li><a class="colll" ng-show="youtuber" ng-show="!terminos" href="#/convenio"> Convenio</a></li>
<li><a class="colll" href="#/pagos/{{thecanal}}"> Pagos </a>
</li>
</ul>
</li>
</ul>
</div>





<div class="col-md-offset-3 col-md-7">

<br><br><br><br><br>

<a class="btn btn-danger creaboton" href="#/nuevacampana">Nueva Campaña</a>
<br><br><br>

		<div class="panel panel-primary">
		<div class="panel-heading">Mis campañas</div>
		<div class="panel-body">
		<div class="table-responsive">
		<table class="table table-striped">
		<thead>
		<tr class="">
			<th class="text-center">
			<strong>Campaña<strong></th>
			<th class="text-center">
			<strong>Fecha de Inicio</strong></th>
			<th class="text-center">
			<strong>Fecha Fin</strong></th>
		</tr>
		</thead>
		<tbody>
			 <tr ng-repeat="campana in campanas" class="">
    		<td class="text-center textoo">
    		<a href="#/campana/{{campana.tag}}">{{ campana.nombre }}</a></td>
		    <td class="text-center textoo">
		    <a href="#/campana/{{campana.tag}}">{{ campana.fechaInicial }}</a></td>
		    <td class="text-center textoo">
		    <a href="#/campana/{{campana.tag}}">{{ campana.fechaFinal }}</a></td>
			</tr>
		</tbody>

		</table>

	</div>
		<!-- /.table-responsive -->
		</div>
		<!-- /.panel-body -->
		</div>
		<!-- /.panel -->











</div>
