<div class="landingmenu2 row navbar navbar-default navbar-fixed-top">
    <p class="col-md-3 menulogo2">
    <img src="https://png.icons8.com/color/1600/video-camera" class="imgsmall" alt="">
    <a href="#/dash" class="colwhite2">
        &nbsp {{nombre}} 
    </a>
    </p>
</div>

<div class="col-md-2 sidebar">
    <ul class="nav">
        <li>
        <a href="#/dash" class="collll">
        <span class="glyphicon glyphicon-dashboard   text-info">
        </span> Dashboard</a>
        </li>
        <li>
        <a class="colll" href="#/misprogramas/{{thecanal}}">
        <span class="glyphicon glyphicon-picture text-warning"></span> TV Shows</a>
        </li>
        <li ng-show="!productor" >
        <a class="colll" href="#/elprograma4">
        <span class="glyphicon glyphicon-play-circle text-danger"></span> Upload link</a>
        </li>
        <li><a class="colll" href="#/miscampanas/{{thecanal}}">
        <span class="glyphicon  glyphicon-record text-info"></span> Advertisement </a>
        </li>
        <li><a class="colll" href="#/minutos/{{thecanal}}">
        <span class="glyphicon glyphicon-signal text-success">
        </span> Analytics </a>
            <ul class="nav nav-second-level">
            <li><a class="colll" href="#/minutos/{{thecanal}}">Time Watch</a>
            </li>
            <li><a class="colll" href="#/viewstotal/{{thecanal}}">Total Watch</a>
            </li>
            <li><a class="colll" href="#/users">Users</a>
            </li>
            </ul>
        <li><a class="colll" href="#/profile">
        <span class="glyphicon  glyphicon-envelope text-info"></span> Account</a>
            <ul class="nav nav-second-level">
            <li><a class="colll" href="#/profile"> Profile</a>
            </li>
            </ul>
        </li>
    </ul>
</div>


<div class="col-md-offset-2 col-md-10 main">
    <div class="center-form panel ">
        <div class="panel-body">
            <div class="col-md-offset-1 col-md-5 otrob2">  
                <h4 class="text-left mov"> Gender</h4>
                <h5 class="text-center tut"> Male: {{masculino}}</h5>
                <h5 class="text-center tut"> Female: {{femenino}}</h5>
                <div id="chart" class="pushh"></div>
            </div>
            <div class="col-md-offset-1 col-md-5 otrob2">  
                <h4 class="text-left mov"> AGE</h4>
                <h5 class="text-center tut"> 
                15-29 años: {{edad1}} - 30-50 Years: {{edad2}}</h5>
                <h5 class="text-center tut"> 
                50-70 años: {{edad3}} - 70-90 Years: {{edad4}} </h5>
                <div id="chart2" class="pushh"></div>
            </div>
        </div>
    </div>
</div>

